
  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    
}
.bike {
    display: block;
    margin: auto;
    width: 16em;
    height: auto;
}
.bike__body,
.bike__front,
.bike__handlebars,
.bike__pedals,
.bike__pedals-spin,
.bike__seat,
.bike__spokes,
.bike__spokes-spin,
.bike__tire {
    animation: bikeBody 3s ease-in-out infinite;
    stroke: var(--primary);
    transition: stroke var(--trans-dur);
}
.bike__front {
    animation-name: bikeFront;
}
.bike__handlebars {
    animation-name: bikeHandlebars;
}
.bike__pedals {
    animation-name: bikePedals;
}
.bike__pedals-spin {
    animation-name: bikePedalsSpin;
}
.bike__seat {
    animation-name: bikeSeat;
}
.bike__spokes,
.bike__tire {
    stroke: currentColor;
}
.bike__spokes {
    animation-name: bikeSpokes;
}
.bike__spokes-spin {
    animation-name: bikeSpokesSpin;
}
.bike__tire {
    animation-name: bikeTire;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(var(--hue),90%,10%);
        --fg: hsl(var(--hue),90%,90%);
    }
}

/* Animations */
@keyframes bikeBody {
    from { stroke-dashoffset: 79; }
    33%,
    67% { stroke-dashoffset: 0; }
    to { stroke-dashoffset: -79; }
}
@keyframes bikeFront {
    from { stroke-dashoffset: 19; }
    33%,
    67% { stroke-dashoffset: 0; }
    to { stroke-dashoffset: -19; }
}
@keyframes bikeHandlebars {
    from { stroke-dashoffset: 10; }
    33%,
    67% { stroke-dashoffset: 0; }
    to { stroke-dashoffset: -10; }
}
@keyframes bikePedals {
    from {
        animation-timing-function: ease-in;
        stroke-dashoffset: -25.133;
    }
    33%,
    67% {
        animation-timing-function: ease-out;
        stroke-dashoffset: -21.991;
    }
    to {
        stroke-dashoffset: -25.133;
    }
}
@keyframes bikePedalsSpin {
    from { transform: rotate(0.1875turn); }
    to { transform: rotate(3.1875turn); }
}
@keyframes bikeSeat {
    from { stroke-dashoffset: 5; }
    33%,
    67% { stroke-dashoffset: 0; }
    to { stroke-dashoffset: -5; }
}
@keyframes bikeSpokes {
    from {
        animation-timing-function: ease-in;
        stroke-dashoffset: -31.416;
    }
    33%,
    67% {
        animation-timing-function: ease-out;
        stroke-dashoffset: -23.562;
    }
    to {
        stroke-dashoffset: -31.416;
    }
}
@keyframes bikeSpokesSpin {
    from { transform: rotate(0); }
    to { transform: rotate(3turn); }
}
@keyframes bikeTire {
    from {
        animation-timing-function: ease-in;
        stroke-dashoffset: 56.549;
        transform: rotate(0);
    }
    33% {
        stroke-dashoffset: 0;
        transform: rotate(0.33turn);
    }
    67% {
        animation-timing-function: ease-out;
        stroke-dashoffset: 0;
        transform: rotate(0.67turn);
    }
    to {
        stroke-dashoffset: -56.549;
        transform: rotate(1turn);
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: courier prime;
}
.container{
    width: 100%;
    height: 90vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    align-items: center;
    justify-content: center;
}
.profile-box{
    background: linear-gradient(to top left, rgba(255,0,213,0.6572828960685837) 0%, rgba(255,0,0,0.7217086663767069) 100%);
    text-align: center;
    padding: 80px 50px;
    color: #fff;
    position: relative;
    border-radius: 30px;
}
.menu-icon{
    width: 25px;
    position: absolute;
    left: 40px;
    top: 40px;
}
.setting-icon{
    width: 25px;
    position: absolute;
    right: 40px;
    top: 40px;
}
.profile-pic
{
    width: 150px;
    border-radius: 50%;
    background: #fff;
    padding: 6px;
    margin-top: 40px;
}
.profile-bottom{
    background: #fff;
    color: #999;
    padding: 60px 0;
    margin-right: -90px;
    margin-left: -90px;
    margin-bottom: -40px;
    border-radius: 20px;
    margin-top: -10px;
}
.profile-bottom img{
    width: 15px;
    margin-top: 15px;
}
.profile-box button{
    background: #fff;
    color: #696969;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px rgba(211,211,211, 0.5);
    padding: 15px 60px;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 1000;
    font-size: 30px;
}
.profile-box h3{
    font-size: 40px;
    margin-top: 40px;
    font-weight: 400;
}
.social-media img{
    width: 20px;
    margin: 30px 5px;
    cursor: pointer;
}
/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
:root {
    --hue: 223;
    --bg: hsl(var(--hue),90%,90%);
    --fg: hsl(var(--hue),90%,10%);
    --primary: hsl(var(--hue),90%,50%);
    --trans-dur: 0.3s;
    font-size: calc(16px + (32 - 16) * (100vw - 320px) / (2560 - 320));
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  background-color: hsl(var(223),90%,90%);
    color: var(hsl(var(223),90%,10%));
    display: flex;
    font: 1em/1.5 sans-serif;
    height: 100vh;
    transition:
        background-color var(0.3s),
        color var(0.3s);
  font-family: 'Anonymous Pro', monospace;  

}
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.anim-typewriter{
  animation: typewriter 1s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 7;}
  to{width: 8.5em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
